<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="navbar-brand navbar-right white-nav">Dynamic CV</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="headerNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="headerNavbar" *ngIf="auth.user | async">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a id="preview-nav-button" class="nav-link" [routerLink]="(userUid) ? ['user', userUid,'dashboard'] : ['user', 'dashboard']" [class.disabled]="superUser && !userUid">Preview</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a id="settings-nav-button" class="nav-link" [routerLink]="(userUid) ? ['user', userUid,'settings'] : ['user','settings']"  [class.disabled]="superUser && !userUid">Settings</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="superUser">
        <a id="users-nav-button" class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 white-nav">
      <span class="user-greeter">
        Hello {{name.split(" ")[0]}} |
      </span>
      <span class="user-greeter">
        <a class="nav-link white-nav" href="" (click)="signOut()">Sign out</a>
      </span>
    </div>
  </div>
</nav>
