<div class="row">
  <div class="col-sm-12 col-lg-6">
    <form [formGroup]="validator.userForm" (ngSubmit)="login()">
      <h2>Sign in</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email"
          required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div *ngIf="validator.formErrors.email" class="invalid-form-value">
          {{ validator.formErrors.email }}
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required>
        <div *ngIf="validator.formErrors.password" class="invalid-form-value">
          {{ validator.formErrors.password }}
        </div>
        <div *ngIf="auth.notify.msg | async as msg" class="invalid-form-value">
          {{ msg }}
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="button" [disabled]="!validator.userForm.valid">Submit</button>
      </div>
      <div class="form-group">
        <p>
          You don't have account yet? Click
          <a routerLink="/signup">here</a>
          to register.
        </p>
      </div>
      <div class="form-group">
        <a *ngIf="!passReset && validator.userForm.controls.email.valid" class="btn btn-*" (click)="resetPassword()">Reset Password for {{validator.userForm.value.email}}?</a>
        <p *ngIf="passReset" class="">Reset requested. Check your email instructions.</p>
      </div>
    </form>
  </div>
</div>