.bar {
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 2;
    padding: 8px;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}

.bar.info {
    background: #00c9ff;
}

.bar.warning {
    background: #FF8D6D;
}

.bar.success {
    background: #009844;
}

.saving-spinner {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #333;
    i + span {
      margin-left: 5px;
    }
  }