<i *ngIf="internalProject" class="internal-project"></i>
<a class="reposition-up" (click)="moveUp()" *ngIf="editForm && internalProject && listIndex !== 0 && maxListIndex !== 0">&uarr;</a>
<a class="reposition-down" (click)="moveDown()"  *ngIf="editForm && internalProject && maxListIndex !== listIndex">&darr;</a>
<p class="name position">
  <b>
    <inline-editor type="text" [(ngModel)]="project.name" (onSave)="saveProject('name', $event)" size="40" name="customEditableText"
      *ngIf="project.name" [saveOnBlur]="true" [hideButtons]="true"></inline-editor>
  </b>
  <span *ngIf="internalProject">
    as
    <inline-editor type="text" [(ngModel)]="project.title" (onSave)="saveProject('title', $event)" size="40" name="customEditableText"
      *ngIf="internalProject" [saveOnBlur]="true" [hideButtons]="true"></inline-editor>
  </span>
</p>
<p class="description">
  <inline-editor type="textarea" [(ngModel)]="project.desc" (onSave)="saveProject('desc', $event)" cols="70" rows="5" name="customEditableText"
    [saveOnBlur]="true" [hideButtons]="true"></inline-editor>
</p>
<p class="technologies" *ngIf="project.technologies">
  <span>
    Technologies used:
  </span>
  <app-project-technologies [technologies]='project.technologies' (onSave)="saveProject('technologies', $event)"></app-project-technologies>
</p>
