<i *ngIf="internalProject" class="internal-project"></i>
<p class="name position">
  <b>
    <inline-editor type="text" [(ngModel)]="project.name" (onSave)="saveProject('name', $event)" size="40" name="customEditableText" *ngIf="project.name"></inline-editor>
  </b>
  <span *ngIf="internalProject">
    as
    <inline-editor type="text" [(ngModel)]="project.title" (onSave)="saveProject('title', $event)" size="40" name="customEditableText" *ngIf="internalProject"></inline-editor>
  </span>
</p>
<p class="description">
  <inline-editor type="textarea" [(ngModel)]="project.desc" (onSave)="saveProject('desc', $event)" cols="70" rows="5" name="customEditableText"></inline-editor>
</p>
<p class="technologies">
  <span>
    Technologies used:
  </span>
  {{ project.technologies.join(", ") }}
</p>