.experience-icon {
    background-image: url(/assets/img/experience.svg);
    float: left;
    height: 50px;
    margin: 0 15px 0 5px;
    width: 50px;
}

.education-icon {
    background-image: url(/assets/img/education.svg);
    float: left;
    height: 37px;
    margin: 0 15px 0 5px;
    width: 50px;
}

.expectations-icon {
    background-image: url(/assets/img/target.svg);
    background-size: contain;
    display: block;
    float: left;
    height: 45px;
    width: 45px; 
    margin: 0 15px 0 5px;
}

.personal-note-icon {
    background-image: url(/assets/img/profile.svg);
    background-size: contain;
    display: block;
    float: left;
    height: 45px;
    width: 45px; 
    margin: 0 15px 0 5px;
}

.skills-icon {
    background-image: url(/assets/img/skillset.svg);
    background-size: contain;
    height: 37px;
    width: 37px; 
    display: block;
    float: left;
    margin-right: 10px;
}

.a4 {
    font-size: 14px;
    height: 297mm;
    margin: 100px auto;
    padding-right: 8mm;
    position: relative;
    width: 210mm;
}

.a4::after,
.a4::before {
    content: "";
    height: 297mm;
    left: -2px;
    position: absolute;
    top: -5px;
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    width: 210mm;
    z-index: -1;
}
.a4::after {
    left: 0;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.a4,
.a4::before,
.a4::after {
    background: #fff;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.a4-width {
    width: 210mm;
}

.form-input {
    margin-bottom: 5px;
    margin-left: 10px; 
    width:250px;
}

.form-button {
    margin-bottom: 5px;
    margin-left: 10px; 
}

.user-logo {
    padding-left: 70px;
    padding-top: 20px;
}

.user-logo img {
    width: 120px;
}

.user-desc-place {
    padding-top: 50px
}

.user-img-title-place {
    padding-top: 20px;
}

.page-top {
    padding-top: 25px;
}

.bottom-right-footer {
    background: grey;
    border-top-left-radius: 70px;
    bottom: 0;
    height: 80px;
    width: 220px;
    padding-top: 20px;
    position: absolute;
    right: 0;
}

.bottom-right-footer-content {
    font-size: 14px;
    text-align: center;
}

.prompt {
    font-size: 12px;
}

.label-margin {
    margin-left:10px;
}

.image-width {
    width: 120px;
}