.btnremove { float: right; }

.reposition-up, .reposition-down {
  display: none;
  position: absolute;
  cursor: pointer;
  background: #fff;
  z-index: 2;
}

.reposition-up {
  left: -10px;
  margin-top: 5px;
}

.reposition-down {
  left: -10px;
  margin-top: 25px;
}

.education-row:hover .reposition-up,
.education-row:hover .reposition-down {
  display: block;
}
