<div class="container no-top-padding">
  <div class="justify-content-center page-top">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <inline-editor type="textarea" [(ngModel)]="name"> </inline-editor>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <ul class="col-sm-4 no-bullet" *ngFor="let s of mainSkills">
              <li class="main-skill" *ngFor="let name of s">
                {{name}}
              </li>
            </ul>
            <ul class="col-sm-4 no-bullet" *ngFor="let s of secondSkills">
              <li class="main-skill" *ngFor="let name of s">
                {{name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>