<div class="row">
  <div class="col-sm-4">
    <p class="custom-left-column">
      <inline-editor type="text" [(ngModel)]="experience.company" (onSave)="saveExperience('company', $event)" size="20" name="customEditableText"
        [saveOnBlur]="true" [hideButtons]="true"></inline-editor>
    </p>
    <p class="custom-left-column">
      <inline-editor type="text" [(ngModel)]="experience.time" (onSave)="saveExperience('time', $event)" size="20" name="customEditableText"
        [saveOnBlur]="true" [hideButtons]="true"></inline-editor>
    </p>
    <p class="custom-left-column" *ngIf="editForm">
      <button id="experience-remove-button" class="btn btn-outline-danger btn-sm" (click)="removeExperience()">Remove experience</button>
    </p>
  </div>
  <div class="col-sm-8 draw-line">
    <i class="main-project-icon"></i>
    <p class="position">
      <b>
        <inline-editor type="text" [(ngModel)]="experience.position" (onSave)="saveExperience('position', $event)" size="40" name="customEditableText"
          [saveOnBlur]="true" [hideButtons]="true"></inline-editor>
      </b>
    </p>
    <div *ngFor="let project of experience.mainProjects; let j=index">
      <app-project [project]="project" [ngClass]="{'main-project': experience.company == 'Dynamic Solutions'}" (updateUser)="saveExperience($event)">
      </app-project>
      <button id="main-project-remove-button" class="btn btn-outline-danger btn-sm" (click)="removeMainProject(j)" *ngIf="editForm">Remove main project</button>
    </div>
    <p *ngIf="experience.projects" class="working-on">
      Working on projects for:
    </p>
    <br>
    <div *ngFor="let project of experience.projects; let k=index">
      <app-project [project]="project" internalProject=[true] class="ds-project" (updateUser)="saveExperience($event)"></app-project>
      <button id="project-remove-button" class="btn btn-outline-danger btn-sm" (click)="removeProject(k)" *ngIf="editForm">Remove project</button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
