<div class="row education-row">
    <a class="reposition-up" (click)="moveEducationUp()" *ngIf="editForm && listIndex !== 0 && maxListIndex !== 0">&uarr;</a>
    <a class="reposition-down" (click)="moveEducationDown()"  *ngIf="editForm && maxListIndex !== listIndex">&darr;</a>
  <div class="col-sm-4">
    <p [ngClass]="{'custom-left-column' : edit!=true}">
      <inline-editor type="text" [(ngModel)]="school.namePlace" (onSave)="saveSchool('namePlace', $event)" size="20" name="customEditableText"
        [saveOnBlur]="true" [hideButtons]="true" id="inline-education-univerity-name"></inline-editor>
    </p>
    <p [ngClass]="{'custom-left-column' : edit!=true}">
      <inline-editor type="text" [(ngModel)]="school.time" (onSave)="saveSchool('time', $event)" size="30" name="customEditableText"
        [saveOnBlur]="true" [hideButtons]="true" id="inline-education-time-period"></inline-editor>
    </p>
  </div>
  <div class="col-sm-8" [ngClass]="{'draw-line-no-margin': !lastRow}">
    <i class="main-project-icon" *ngIf="edit!=true"></i>
    <button id="education-remove-button" class="btn btn-outline-danger btnremove btn-sm" type="button" *ngIf="edit==true" (click)="removeElement()">Remove</button>
    <p>
      <inline-editor type="text" [(ngModel)]="school.name" (onSave)="saveSchool('name', $event)" size="40" name="customEditableText"
        [saveOnBlur]="true" [hideButtons]="true" id="inline-education-academic-degree"></inline-editor>
    </p>

    <p class="school-place">
      <inline-editor type="text" [(ngModel)]="school.place" (onSave)="saveSchool('place', $event)" size="30" name="customEditableText"
        [saveOnBlur]="true" [hideButtons]="true" id="inline-education-city"></inline-editor>
    </p>
  </div>
  <div class="clearfix"></div>
</div>
