<div class="row">
  <div class="col-sm-12">
    <i class="expectations-icon"></i>
    <h2><inline-editor type="textarea" [(ngModel)]="personalExpectationNote"> </inline-editor></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 proffesional-expecattions">
    <p>
        <inline-editor type="textarea" [(ngModel)]="proffesionalExpectations"> </inline-editor>
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 proffesional-expecattions">
    <p>
        <inline-editor type="textarea" [(ngModel)]="personalNote"> </inline-editor>
    </p>
  </div>
</div>