<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <div class="user-logo">
              <img src="/assets/img/logo.png" class="logo" alt="logo">
            </div>
          </div>
          <div class="col-sm-8 shift-to-left">
            <div class="row user-desc-place">
              <div class="col-sm-12">
                <h3>{{name}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>
                  {{title | uppercase}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="user-img-title-place">
          <img src="/assets/img/front-end.svg" class="image-width" *ngIf="title=='Senior Front-end Developer'" alt="User title">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <i class="experience-icon"></i>
    <h2>Experience</h2>
  </div>
</div>