<div class="row education-row">
  <div class="col-sm-4">
    <p [ngClass]="{'custom-left-column' : edit!=true}">
      {{ school.place }}
    </p>
    <p  [ngClass]="{'custom-left-column' : edit!=true}">
      {{ school.time }}
    </p>
  </div>
  <div class="col-sm-8" [ngClass]="{'draw-line-no-margin': !lastRow}">
    <i class="main-project-icon" *ngIf="edit!=true"></i>
    <button class="btn btn-danger btnremove" type="button" *ngIf="edit==true" (click)="removeElement()">-</button>
    <p>{{ school.name }}</p>
    <p class="school-place">{{ school.namePlace }}</p>
  </div>
  <div class="clearfix"></div>
</div>