<div class="row">
  <div class="col-sm-4 ">
    <p class="custom-left-column">
      {{ experience.company }}
    </p>
    <p class="custom-left-column">
      {{ experience.time }}
    </p>
  </div>
  <div class="col-sm-8 draw-line">
    <i class="main-project-icon" *ngIf="edit!=true"></i>
    <p class="position">
      <b>
        {{ experience.position }}
      </b>
    </p>
    <div *ngFor="let project of experience.mainProjects">
      <app-project [project]="project" [ngClass]="{'main-project': experience.company == 'Dynamic Solutions'}">
      </app-project>
    </div>
    <p *ngIf="experience.projects" class="working-on">
      Working on projects for:
    </p>
    <br>
    <div *ngFor="let project of experience.projects">
      <app-project [project]="project" internalProject=[true] [ngClass]="ds-project"></app-project>
    </div>
  </div>
  <div class="clearfix"></div>
</div>