.experience-icon {
    background-image: url(/assets/img/experience.svg);
    height: 50px;
    left: -50px;
    margin: 0 5px;
    position: absolute;
    width: 50px;
}

.education-icon {
    background-image: url(/assets/img/education.svg);
    height: 37px;
    left: -50px;
    margin: 0 5px;
    position: absolute;
    width: 50px;
}
.expectations-icon {
    background-image: url(/assets/img/target.svg);
    background-size: contain;
    height: 37px;
    width: 37px; 
    display: block;
    float: left;
    margin-right: 10px;
}
.personal-note-icon {
    background-image: url(/assets/img/profile.svg);
    background-size: contain;
    height: 37px;
    width: 37px; 
    display: block;
    float: left;
    margin-right: 10px;
}
.a4 {
    width: 210mm;
    height: 297mm;
    background: lightgray;
    overflow-x: scroll;
    position: relative;
}

.a4-width {
    width: 210mm;
}

.form-input {
    margin-left: 10px; 
    width:250px;
    margin-bottom: 5px;
}

.form-button {
    margin-left: 10px; 
    margin-bottom: 5px;
}

.user-logo {
    padding-left: 70px;
    padding-top: 20px;
}

.user-desc-place {
    padding-top: 50px
}

.user-img-title-place {
    padding-top: 20px;
}

.page-top {
    padding-top: 25px;
}

.top-right-footer {
    padding-top: 25px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 70px;
    width: 200px;
    height: 100px;
    background: grey;
}

.top-right-footer-content {
    text-align: center;
    font-size: 14px;
    color: #ffff
}

.prompt {
    font-size: 12px;
}

.label-margin {
    margin-left:10px;
}

.image-width {
    width: 120px;
}