/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.main-content {
    position: relative;
    font-family: 'Open Sans';
    font-weight: lighter;
    /* ADD BORDER */
    /* border: 1px solid; */
    padding: 0;
}

.position {
    font-style: italic;
    color: gray;
    margin-top: -2px;
}

p {
    color: gray;
    margin: 0;
}

b {
    color: #333333;
}

.main-project-icon {
    background-image: url(/assets/img/circle-grey-middle.svg) !important;
    background-size: contain;
    display: block;
    height: 20px;
    left: -15px;
    margin: 0 5px;
    position: absolute;
    width: 20px;
}

.draw-line {
    margin-top: 1px;
    border-left: 1px solid #5791b9;
}

.custom-left-column {
    margin: 0 0 0 70px;
}

.education-row {
    margin-bottom: 10px;
}

.invalid-form-value {
    color: red;
}

.experience-icon {
    background-image: url(/assets/img/experience.svg) !important;
    float: left;
    height: 50px;
    margin: 0 15px 0 5px;
    width: 50px;
}

.education-icon {
    background-image: url(/assets/img/education.svg) !important;
    float: left;
    height: 37px;
    margin: 0 15px 0 5px;
    width: 50px;
}

.expectations-icon {
    background-image: url(/assets/img/target.svg) !important;
    background-size: contain;
    display: block;
    float: left;
    height: 45px;
    margin: 0 15px 0 5px;
    width: 45px;
}

.skills-icon {
    background-image: url(/assets/img/skillset.svg) !important;
    background-size: contain;
    display: block;
    float: left;
    height: 37px;
    margin-right: 10px;
    width: 37px;
}

.a4::after, .a4::before {
    content: "";
    height: 297mm;
    left: -2px;
    position: absolute;
    top: -5px;
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    width: 210mm;
    z-index: -1;
}

.a4::after {
    left: 0;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.a4, .a4::before, .a4::after {
    background: #fff;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.a4 .container:first-child {
    padding-top: 60px;
}

#cv-page-1 .container:first-child {
    padding-top: 30px;
}

.a4 .container:first-child .container {
    padding-top: 20px;
}

.a4-width {
    width: 210mm;
}

.form-input {
    margin-bottom: 5px;
    margin-left: 10px;
    width: 250px;
}

.form-button {
    margin-bottom: 5px;
    margin-left: 10px;
}

.user-logo {
    padding-left: 50px;
    padding-top: 21px;
    text-align: center;
}

.user-logo img {
    width: 80px;
}

.user-desc-place {
    padding-top: 20px
}

.shift-to-left {
    left: -20px;
    position: relative;
}

.user-img-title-place {
    padding-top: 20px;
}

.page-top {
    padding-top: 25px;
}

.bottom-right-footer {
    background-image: url(/assets/img/blue-part-circle.svg) !important;
    bottom: 0;
    height: 160px;
    position: absolute;
    right: 0;
    width: 200px;
}

.bottom-right-footer-content {
    bottom: 24px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    right: 24px;
}

.prompt {
    font-size: 12px;
}

.label-margin {
    margin-left: 10px;
}

.image-width {
    float: right;
    padding-right: 10px;
    width: 120px;
}

h2 {
    color: #5791b9;
    font-size: 28px;
    line-height: 46px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Lato';
    font-size: 40px;
    font-style: italic;
}

.proffesional-expecattions {
    padding: 0 0 0 80px;
    text-align: left;
}

.a4 .container.no-top-padding {
    padding-top: 0;
}

#cv-page-1 {
    background-image: url(/assets/img/half-background-logo-left.png) !important;
    background-size: 105mm 205mm;
    background-repeat: no-repeat;
    background-position: right 240px;
}

#cv-page-2 {
    background-image: url(/assets/img/half-background-logo-right.png) !important;
    background-size: 105mm 205mm;
    background-repeat: no-repeat;
    background-position: left 180px;
}

.name-container {
    padding-top: 10px;
}

.developer-title {
    font-size: 17px;
}

.school-place {
    font-style: italic;
}

.technologies {
    margin-bottom: 10px;
}

.technologies span {
    font-style: italic;
}

.main-project .technologies {
    margin-bottom: 0px;
}

.main-project .title span {
    display: none;
}

.a4 {
    font-size: 16px;
    padding: 50px;
    height: 1403px;
}

@page {
    size: A4;
    margin: 0 -20px;
}

@media print {
    .noprint {
        display: none;
    }
}

* {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}