/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Lato);

.main-content {
    position: relative;
    top: 80px;
}

.main-project .description, .main-project .technologies {
    font-weight: bold;
}

p {
    color: #5b5b5b;
    margin: 0;
}

b {
    color: #333333;
}

.main-project-icon {
    background-image: url(/assets/img/circle-grey-middle.svg);
    background-size: contain;
    display: block;
    height: 20px;
    left: -20px;
    margin: 0 5px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.main-project-icon-no-position {
    background-image: url(/assets/img/circle-grey-middle.svg);
    background-size: contain;
    display: block;
    float: left;
    height: 20px;
    left: -20px;
    margin: 0 5px;
    top: 2px;
    width: 20px;
}

.second-project-icon-no-position {
    background-image: url(/assets/img/circle-maroon-middle.svg);
    background-size: contain;
    display: block;
    float: left;
    height: 20px;
    left: -20px;
    margin: 0 5px;
    top: 2px;
    width: 20px;
}

.custom-left-column {
    margin: 0 0 0 75px;
}

.education-row {
    margin-bottom: 10px;
}

.invalid-form-value {
    color: red;
}